In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"C:\Users\Rohit\Downloads\gplay.csv")

In [3]:
df

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone
...,...,...,...,...,...,...,...,...,...,...
10836,10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone
10837,10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone
10838,10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone
10839,10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+
10840,10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10841 non-null  int64
 1   App             10841 non-null  object
 2   Category        10841 non-null  object
 3   Rating          9367 non-null   float64
 4   Reviews         10841 non-null  object
 5   Size            10841 non-null  object
 6   Installs        10841 non-null  object
 7   Type            10840 non-null  object
 8   Price           10841 non-null  object
 9   Content Rating  10840 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 847.1+ KB

In [5]:
df.isnull().sum()

Unnamed: 0           0
App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
dtype: int64

In [6]:
df["Rating"].unique()

array([ 4.1,  3.9,  4.7,  4.5,  4.3,  4.4,  3.8,  4.2,  4.6,  3.2,  4. ,
        nan,  4.8,  4.9,  3.6,  3.7,  3.3,  3.4,  3.5,  3.1,  5. ,  2.6,
        3. ,  1.9,  2.5,  2.8,  2.7,  1. ,  2.9,  2.3,  2.2,  1.7,  2. ,
        1.8,  2.4,  1.6,  2.1,  1.4,  1.5,  1.2, 19. ])

In [7]:
df["Rating"].value_counts()

4.4     1109
4.3     1076
4.5     1038
4.2      952
4.6      823
4.1      708
4.0      568
4.7      499
3.9      386
3.8      303
5.0      274
3.7      239
4.8      234
3.6      174
3.5      163
3.4      128
3.3      102
4.9       87
3.0       83
3.1       69
3.2       64
2.9       45
2.8       42
2.7       25
2.6       25
2.5       21
2.3       20
2.4       19
1.0       16
2.2       14
1.9       13
2.0       12
1.7        8
1.8        8
2.1        8
1.6        4
1.4        3
1.5        3
1.2        1
19.0       1
Name: Rating, dtype: int64

In [8]:
df["Rating"].mean()

4.193338315362448

In [9]:
rm=4.1

In [10]:
df["Rating"].fillna(rm,inplace=True)

In [11]:
df["Rating"].unique()

array([ 4.1,  3.9,  4.7,  4.5,  4.3,  4.4,  3.8,  4.2,  4.6,  3.2,  4. ,
        4.8,  4.9,  3.6,  3.7,  3.3,  3.4,  3.5,  3.1,  5. ,  2.6,  3. ,
        1.9,  2.5,  2.8,  2.7,  1. ,  2.9,  2.3,  2.2,  1.7,  2. ,  1.8,
        2.4,  1.6,  2.1,  1.4,  1.5,  1.2, 19. ])

In [12]:
df["Rating"].fillna(df["Rating"].mean(),inplace=True)

In [13]:
df["Rating"].unique()

array([ 4.1,  3.9,  4.7,  4.5,  4.3,  4.4,  3.8,  4.2,  4.6,  3.2,  4. ,
        4.8,  4.9,  3.6,  3.7,  3.3,  3.4,  3.5,  3.1,  5. ,  2.6,  3. ,
        1.9,  2.5,  2.8,  2.7,  1. ,  2.9,  2.3,  2.2,  1.7,  2. ,  1.8,
        2.4,  1.6,  2.1,  1.4,  1.5,  1.2, 19. ])

In [14]:
df.isnull().sum()

Unnamed: 0        0
App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
dtype: int64

In [15]:
df["Type"].unique()

array(['Free', 'Paid', nan, '0'], dtype=object)

In [16]:
df["Content Rating"].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated', nan], dtype=object)

# drop and Dropna

In [17]:
df.dropna(inplace=True)

In [18]:
df.isnull().sum()

Unnamed: 0        0
App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
dtype: int64

In [19]:
df.head(2)

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone

In [20]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [21]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone
...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone
10838,Parkinson Exercices FR,MEDICAL,4.1,3,9.5M,"1,000+",Free,0,Everyone
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10839 entries, 0 to 10840
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10839 non-null  object
 1   Category        10839 non-null  object
 2   Rating          10839 non-null  float64
 3   Reviews         10839 non-null  object
 4   Size            10839 non-null  object
 5   Installs        10839 non-null  object
 6   Type            10839 non-null  object
 7   Price           10839 non-null  object
 8   Content Rating  10839 non-null  object
dtypes: float64(1), object(8)
memory usage: 846.8+ KB

In [23]:
df["Installs"].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+'], dtype=object)

In [24]:
df["Installs"] = df["Installs"].str.replace(",","")

In [25]:
df["Installs"]

0           10000+
1          500000+
2         5000000+
3        50000000+
4          100000+
           ...
10836        5000+
10837         100+
10838        1000+
10839        1000+
10840    10000000+
Name: Installs, Length: 10839, dtype: object

In [26]:
df["Installs"] = df["Installs"].str.replace("+","")

In [27]:
df["Installs"].unique()

array(['10000', '500000', '5000000', '50000000', '100000', '50000',
       '1000000', '10000000', '5000', '100000000', '1000000000', '1000',
       '500000000', '50', '100', '500', '10', '1', '5', '0'], dtype=object)

In [28]:
df["Installs"] = df["Installs"].astype(int)

In [29]:
df["Installs"].unique()

array([     10000,     500000,    5000000,   50000000,     100000,
            50000,    1000000,   10000000,       5000,  100000000,
       1000000000,       1000,  500000000,         50,        100,
              500,         10,          1,          5,          0])

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10839 entries, 0 to 10840
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10839 non-null  object
 1   Category        10839 non-null  object
 2   Rating          10839 non-null  float64
 3   Reviews         10839 non-null  object
 4   Size            10839 non-null  object
 5   Installs        10839 non-null  int32
 6   Type            10839 non-null  object
 7   Price           10839 non-null  object
 8   Content Rating  10839 non-null  object
dtypes: float64(1), int32(1), object(7)
memory usage: 804.5+ KB

In [31]:
df["Price"].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [32]:
df["Price"] = df["Price"].str.replace("$","")

In [33]:
df["Price"].unique()

array(['0', '4.99', '3.99', '6.99', '1.49', '2.99', '7.99', '5.99',
       '3.49', '1.99', '9.99', '7.49', '0.99', '9.00', '5.49', '10.00',
       '24.99', '11.99', '79.99', '16.99', '14.99', '1.00', '29.99',
       '12.99', '2.49', '10.99', '1.50', '19.99', '15.99', '33.99',
       '74.99', '39.99', '3.95', '4.49', '1.70', '8.99', '2.00', '3.88',
       '25.99', '399.99', '17.99', '400.00', '3.02', '1.76', '4.84',
       '4.77', '1.61', '2.50', '1.59', '6.49', '1.29', '5.00', '13.99',
       '299.99', '379.99', '37.99', '18.99', '389.99', '19.90', '8.49',
       '1.75', '14.00', '4.85', '46.99', '109.99', '154.99', '3.08',
       '2.59', '4.80', '1.96', '19.40', '3.90', '4.59', '15.46', '3.04',
       '4.29', '2.60', '3.28', '4.60', '28.99', '2.95', '2.90', '1.97',
       '200.00', '89.99', '2.56', '30.99', '3.61', '394.99', '1.26',
       '1.20', '1.04'], dtype=object)

In [34]:
df["Price"] = df["Price"].astype(float)

In [35]:
df["Price"].unique()

array([  0.  ,   4.99,   3.99,   6.99,   1.49,   2.99,   7.99,   5.99,
         3.49,   1.99,   9.99,   7.49,   0.99,   9.  ,   5.49,  10.  ,
        24.99,  11.99,  79.99,  16.99,  14.99,   1.  ,  29.99,  12.99,
         2.49,  10.99,   1.5 ,  19.99,  15.99,  33.99,  74.99,  39.99,
         3.95,   4.49,   1.7 ,   8.99,   2.  ,   3.88,  25.99, 399.99,
        17.99, 400.  ,   3.02,   1.76,   4.84,   4.77,   1.61,   2.5 ,
         1.59,   6.49,   1.29,   5.  ,  13.99, 299.99, 379.99,  37.99,
        18.99, 389.99,  19.9 ,   8.49,   1.75,  14.  ,   4.85,  46.99,
       109.99, 154.99,   3.08,   2.59,   4.8 ,   1.96,  19.4 ,   3.9 ,
         4.59,  15.46,   3.04,   4.29,   2.6 ,   3.28,   4.6 ,  28.99,
         2.95,   2.9 ,   1.97, 200.  ,  89.99,   2.56,  30.99,   3.61,
       394.99,   1.26,   1.2 ,   1.04])

In [36]:
df["Size"].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

In [37]:
def clean_size(x):
    if "k" in x :
        x = x.replace("k","") 
        return float(x) / 1024
    elif "M" in x :
        x = x.replace("M","") 
        return float(x)  
    elif x == "Varies with device":
        return np.nan
    else:
        return float(x)

In [38]:
df["Size"]= df["Size"].map(clean_size)

In [39]:
df["Size"].unique()

array([1.90000000e+01, 1.40000000e+01, 8.70000000e+00, 2.50000000e+01,
       2.80000000e+00, 5.60000000e+00, 2.90000000e+01, 3.30000000e+01,
       3.10000000e+00, 2.80000000e+01, 1.20000000e+01, 2.00000000e+01,
       2.10000000e+01, 3.70000000e+01, 2.70000000e+00, 5.50000000e+00,
       1.70000000e+01, 3.90000000e+01, 3.10000000e+01, 4.20000000e+00,
       7.00000000e+00, 2.30000000e+01, 6.00000000e+00, 6.10000000e+00,
       4.60000000e+00, 9.20000000e+00, 5.20000000e+00, 1.10000000e+01,
       2.40000000e+01,            nan, 9.40000000e+00, 1.50000000e+01,
       1.00000000e+01, 1.20000000e+00, 2.60000000e+01, 8.00000000e+00,
       7.90000000e+00, 5.60000000e+01, 5.70000000e+01, 3.50000000e+01,
       5.40000000e+01, 1.96289062e-01, 3.60000000e+00, 5.70000000e+00,
       8.60000000e+00, 2.40000000e+00, 2.70000000e+01, 2.50000000e+00,
       1.60000000e+01, 3.40000000e+00, 8.90000000e+00, 3.90000000e+00,
       2.90000000e+00, 3.80000000e+01, 3.20000000e+01, 5.40000000e+00,
       1.80000000e+01, 1.10000000e+00, 2.20000000e+00, 4.50000000e+00,
       9.80000000e+00, 5.20000000e+01, 9.00000000e+00, 6.70000000e+00,
       3.00000000e+01, 2.60000000e+00, 7.10000000e+00, 3.70000000e+00,
       2.20000000e+01, 7.40000000e+00, 6.40000000e+00, 3.20000000e+00,
       8.20000000e+00, 9.90000000e+00, 4.90000000e+00, 9.50000000e+00,
       5.00000000e+00, 5.90000000e+00, 1.30000000e+01, 7.30000000e+01,
       6.80000000e+00, 3.50000000e+00, 4.00000000e+00, 2.30000000e+00,
       7.20000000e+00, 2.10000000e+00, 4.20000000e+01, 7.30000000e+00,
       9.10000000e+00, 5.50000000e+01, 2.24609375e-02, 6.50000000e+00,
       1.50000000e+00, 7.50000000e+00, 5.10000000e+01, 4.10000000e+01,
       4.80000000e+01, 8.50000000e+00, 4.60000000e+01, 8.30000000e+00,
       4.30000000e+00, 4.70000000e+00, 3.30000000e+00, 4.00000000e+01,
       7.80000000e+00, 8.80000000e+00, 6.60000000e+00, 5.10000000e+00,
       6.10000000e+01, 6.60000000e+01, 7.71484375e-02, 8.40000000e+00,
       1.15234375e-01, 4.40000000e+01, 6.78710938e-01, 1.60000000e+00,
       6.20000000e+00, 1.75781250e-02, 5.30000000e+01, 1.40000000e+00,
       3.00000000e+00, 5.80000000e+00, 3.80000000e+00, 9.60000000e+00,
       4.50000000e+01, 6.30000000e+01, 4.90000000e+01, 7.70000000e+01,
       4.40000000e+00, 4.80000000e+00, 7.00000000e+01, 6.90000000e+00,
       9.30000000e+00, 8.10000000e+00, 3.60000000e+01, 8.40000000e+01,
       9.70000000e+01, 2.00000000e+00, 1.90000000e+00, 1.80000000e+00,
       5.30000000e+00, 4.70000000e+01, 5.42968750e-01, 5.13671875e-01,
       7.60000000e+01, 7.60000000e+00, 5.90000000e+01, 9.70000000e+00,
       7.80000000e+01, 7.20000000e+01, 4.30000000e+01, 7.70000000e+00,
       6.30000000e+00, 3.26171875e-01, 3.40000000e+01, 9.30000000e+01,
       6.50000000e+01, 7.90000000e+01, 1.00000000e+02, 5.80000000e+01,
       5.00000000e+01, 6.80000000e+01, 6.40000000e+01, 6.70000000e+01,
       6.00000000e+01, 9.40000000e+01, 2.26562500e-01, 9.90000000e+01,
       6.09375000e-01, 9.50000000e+01, 8.30078125e-03, 4.00390625e-02,
       2.85156250e-01, 1.07421875e-02, 8.00000000e+01, 1.70000000e+00,
       7.40000000e+01, 6.20000000e+01, 6.90000000e+01, 7.50000000e+01,
       9.80000000e+01, 8.50000000e+01, 8.20000000e+01, 9.60000000e+01,
       8.70000000e+01, 7.10000000e+01, 8.60000000e+01, 9.10000000e+01,
       8.10000000e+01, 9.20000000e+01, 8.30000000e+01, 8.80000000e+01,
       6.87500000e-01, 8.41796875e-01, 8.77929688e-01, 3.69140625e-01,
       2.59765625e-01, 3.66210938e-01, 1.30000000e+00, 9.52148438e-01,
       9.57031250e-01, 4.10000000e+00, 8.90000000e+01, 6.79687500e-01,
       5.31250000e-01, 5.12695312e-01, 8.98437500e-01, 7.60742188e-01,
       8.33007812e-01, 7.03125000e-01, 6.96289062e-01, 7.53906250e-01,
       3.10546875e-01, 5.66406250e-02, 2.35351562e-01, 1.91406250e-01,
       8.36914062e-01, 4.98046875e-02, 9.30664062e-01, 8.44726562e-01,
       2.45117188e-01, 9.08203125e-01, 5.27343750e-01, 3.05664062e-01,
       7.28515625e-01, 1.98242188e-01, 2.53906250e-02, 3.06640625e-01,
       2.33398438e-01, 3.62304688e-01, 2.14843750e-01, 7.12890625e-01,
       7.38281250e-01, 8.88671875e-02, 2.86132812e-01, 1.66015625e-02,
       7.22656250e-02, 1.36718750e-02, 3.09570312e-01, 7.61718750e-02,
       9.02343750e-01, 8.80859375e-01, 7.98828125e-01, 7.91015625e-02,
       9.16992188e-01, 1.65039062e-01, 4.39453125e-02, 4.63867188e-01,
       9.42382812e-01, 9.00000000e+01, 5.32226562e-01, 5.95703125e-02,
       2.76367188e-01, 6.39648438e-01, 6.97265625e-01, 9.08203125e-02,
       8.51562500e-01, 1.18164062e-01, 3.14453125e-01, 1.00000000e+00,
       9.53125000e-01, 1.67968750e-01, 2.32421875e-01, 5.36132812e-01,
       2.01171875e-01, 9.31640625e-01, 4.33593750e-01, 7.00195312e-01,
       2.05078125e-01, 5.94726562e-01, 3.00781250e-01, 6.88476562e-01,
       2.98828125e-01, 8.82812500e-01, 4.61914062e-01, 1.70898438e-01,
       3.41796875e-01, 3.74023438e-01, 4.43359375e-01, 4.11132812e-01,
       6.83593750e-02, 7.92968750e-01, 4.31640625e-01, 8.22265625e-01,
       4.07226562e-01, 4.02343750e-01, 4.48242188e-01, 4.66796875e-01,
       3.27148438e-01, 7.63671875e-01, 7.04101562e-01, 4.19921875e-01,
       4.18945312e-01, 1.87500000e-01, 1.95312500e-01, 4.49218750e-01,
       7.10937500e-01, 4.84375000e-01, 7.96875000e-01, 4.04296875e-01,
       4.94140625e-01, 8.66210938e-01, 5.98632812e-01, 2.37304688e-01,
       5.55664062e-01, 7.59765625e-01, 6.66992188e-01, 5.78125000e-01,
       3.11523438e-01, 1.81640625e-01, 8.20312500e-01, 6.31835938e-01,
       1.86523438e-01, 3.64257812e-01, 4.26757812e-01, 5.83984375e-01,
       6.99218750e-01, 5.71289062e-01, 9.58984375e-01, 2.16796875e-01,
       2.13867188e-01, 5.37109375e-02, 9.25781250e-01, 3.15429688e-01,
       6.74804688e-01, 4.99023438e-01, 9.28710938e-01, 9.40429688e-01,
       2.44140625e-02, 5.41015625e-01, 3.42773438e-01, 2.63671875e-02,
       8.00781250e-02, 2.03125000e-01, 8.91601562e-01, 5.01953125e-01,
       5.38085938e-01, 2.83203125e-02, 1.00585938e-01, 8.76953125e-01,
       7.25585938e-01, 1.13281250e-01, 1.49414062e-01, 2.04101562e-01,
       3.44726562e-01, 4.87304688e-01, 1.68945312e-01, 5.83007812e-01,
       7.90039062e-01, 1.19140625e-01, 4.01367188e-01, 3.90625000e-01,
       7.82226562e-01, 7.68554688e-01, 2.31445312e-01, 4.88281250e-02,
       6.27929688e-01, 9.62890625e-01, 9.47265625e-02, 5.03906250e-01,
       8.17382812e-01, 7.61718750e-01, 9.38476562e-01, 2.62695312e-01,
       1.95312500e-02, 4.86328125e-01, 5.85937500e-01, 7.31445312e-01,
       6.26953125e-01, 8.60351562e-01, 7.03125000e-02, 6.40625000e-01,
       5.86914062e-01, 2.15820312e-01, 2.22656250e-01, 1.05468750e-01,
       9.17968750e-01, 1.71875000e-01, 3.22265625e-02, 6.47460938e-01,
       3.32031250e-02, 9.19921875e-01, 2.52929688e-01, 1.60156250e-01,
       4.47265625e-01, 2.39257812e-01, 6.14257812e-01, 2.73437500e-02,
       2.81250000e-01, 7.56835938e-01, 7.66601562e-01, 6.21093750e-01,
       8.94531250e-01, 9.70703125e-01, 3.01757812e-01, 4.73632812e-01,
       8.92578125e-01, 8.81835938e-01, 5.93750000e-01, 4.88281250e-01,
       5.27343750e-02, 5.48828125e-01, 8.27148438e-01, 9.34570312e-01,
       6.71875000e-01, 7.91992188e-01, 2.63671875e-01, 4.68750000e-02,
       3.21289062e-01, 5.10742188e-01, 8.99414062e-01, 8.53515625e-01,
       9.58007812e-01, 7.65625000e-01, 2.73437500e-01, 2.34375000e-02,
       5.05859375e-01, 7.36328125e-01, 8.71093750e-01, 1.50390625e-01,
       8.39843750e-01, 3.55468750e-01, 3.77929688e-01, 6.11328125e-01,
       1.57226562e-01, 8.58398438e-01, 3.80859375e-02, 9.47265625e-01,
       1.66015625e-01, 1.37695312e-01, 1.56250000e-01, 1.40625000e-01,
       1.39648438e-01, 1.85546875e-01, 3.67187500e-01, 1.88476562e-01,
       2.40234375e-01, 7.12890625e-02, 6.42578125e-01, 9.68750000e-01,
       2.47070312e-01, 4.10156250e-01, 3.94531250e-01, 4.58984375e-01,
       2.20703125e-01, 2.34375000e-01, 8.69140625e-02, 2.28515625e-01,
       2.50976562e-01, 8.40820312e-01, 4.56054688e-01, 1.53320312e-01,
       4.29687500e-02, 6.60156250e-01, 6.54296875e-02, 5.39062500e-01,
       8.64257812e-01, 9.96093750e-01, 5.68359375e-01, 6.04492188e-01])

In [40]:
df.isnull().sum()

App                  0
Category             0
Rating               0
Reviews              0
Size              1694
Installs             0
Type                 0
Price                0
Content Rating       0
dtype: int64

In [41]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone
...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53.0,5000,Free,0.0,Everyone
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6,100,Free,0.0,Everyone
10838,Parkinson Exercices FR,MEDICAL,4.1,3,9.5,1000,Free,0.0,Everyone
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,NaN,1000,Free,0.0,Mature 17+
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19.0,10000000,Free,0.0,Everyone

In [42]:
df["Size"] = df["Size"].fillna(df["Size"].mean())

In [43]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
dtype: int64

In [44]:
df.describe()

             Rating          Size      Installs         Price
count  10839.000000  10839.000000  1.083900e+04  10839.000000
mean       4.179288     21.516165  1.546577e+07      1.027463
std        0.479960     20.748761  8.503315e+07     15.950436
min        1.000000      0.008301  0.000000e+00      0.000000
25%        4.100000      5.900000  3.000000e+03      0.000000
50%        4.200000     18.000000  1.000000e+05      0.000000
75%        4.500000     26.000000  5.000000e+06      0.000000
max        5.000000    100.000000  1.000000e+09    400.000000

In [45]:
#display all the data having rating

In [46]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone

In [47]:
df['Rating'].unique()

array([4.1, 3.9, 4.7, 4.5, 4.3, 4.4, 3.8, 4.2, 4.6, 3.2, 4. , 4.8, 4.9,
       3.6, 3.7, 3.3, 3.4, 3.5, 3.1, 5. , 2.6, 3. , 1.9, 2.5, 2.8, 2.7,
       1. , 2.9, 2.3, 2.2, 1.7, 2. , 1.8, 2.4, 1.6, 2.1, 1.4, 1.5, 1.2])

In [48]:
df["Rating"]==4.1

0         True
1        False
2        False
3        False
4        False
         ...
10836    False
10837    False
10838     True
10839    False
10840    False
Name: Rating, Length: 10839, dtype: bool

In [49]:
df[df["Rating"]==4.1]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29.0,1000000,Free,0.0,Everyone
21,Boys Photo Editor - Six Pack & Men's Suit,ART_AND_DESIGN,4.1,654,12.0,100000,Free,0.0,Everyone
23,Mcqueen Coloring pages,ART_AND_DESIGN,4.1,61,7.0,100000,Free,0.0,Everyone
27,Animated Photo Editor,ART_AND_DESIGN,4.1,203,6.1,100000,Free,0.0,Everyone
...,...,...,...,...,...,...,...,...,...
10824,Cardio-FR,MEDICAL,4.1,67,82.0,10000,Free,0.0,Everyone
10825,Naruto & Boruto FR,SOCIAL,4.1,7,7.7,100,Free,0.0,Teen
10831,payermonstationnement.fr,MAPS_AND_NAVIGATION,4.1,38,9.8,5000,Free,0.0,Everyone
10835,FR Forms,BUSINESS,4.1,0,9.6,10,Free,0.0,Everyone
10838,Parkinson Exercices FR,MEDICAL,4.1,3,9.5,1000,Free,0.0,Everyone

In [50]:
#2 display all record having max rating

In [51]:
MRating=df["Rating"].max()

In [52]:
df[df['Rating']==MRating]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
329,Hojiboy Tojiboyev Life Hacks,COMICS,5.0,15,37.0,1000,Free,0.0,Everyone
612,American Girls Mobile Numbers,DATING,5.0,5,4.4,1000,Free,0.0,Mature 17+
615,Awake Dating,DATING,5.0,2,70.0,100,Free,0.0,Mature 17+
633,Spine- The dating app,DATING,5.0,5,9.3,500,Free,0.0,Teen
636,Girls Live Talk - Free Text and Video Chat,DATING,5.0,6,5.0,100,Free,0.0,Mature 17+
...,...,...,...,...,...,...,...,...,...
10721,Mad Dash Fo' Cash,GAME,5.0,14,16.0,100,Free,0.0,Everyone
10742,GKPB FP Online Church,LIFESTYLE,5.0,32,7.9,1000,Free,0.0,Everyone
10776,Monster Ride Pro,GAME,5.0,1,24.0,10,Free,0.0,Everyone
10820,Fr. Daoud Lamei,FAMILY,5.0,22,8.6,1000,Free,0.0,Teen
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6,100,Free,0.0,Everyone

In [53]:
#display only app name,category and eating whose rating value rating value in 1.2

In [54]:
df["Rating"]==1.2

0        False
1        False
2        False
3        False
4        False
         ...
10836    False
10837    False
10838    False
10839    False
10840    False
Name: Rating, Length: 10839, dtype: bool

In [55]:
df[df["Rating"]==1.2]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
10082,EY TaxChat,FINANCE,1.2,44,27.0,1000,Free,0.0,Everyone

In [56]:
df[df["Rating"]==1.2][["App","Category"]]

              App Category
10082  EY TaxChat  FINANCE

In [57]:
#4find all the records having rating == 4

In [58]:
df[df["Rating"]==4]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
20,Logo Maker - Small Business,ART_AND_DESIGN,4.0,450,14.000000,100000,Free,0.0,Everyone
39,How To Color Disney Princess - Coloring Pages,ART_AND_DESIGN,4.0,591,9.400000,500000,Free,0.0,Everyone
50,Real Tractor Farming,AUTO_AND_VEHICLES,4.0,1598,56.000000,1000000,Free,0.0,Everyone
58,Restart Navigator,AUTO_AND_VEHICLES,4.0,1403,0.196289,100000,Free,0.0,Everyone
66,Used Cars Mexico,AUTO_AND_VEHICLES,4.0,190,2.500000,50000,Free,0.0,Everyone
...,...,...,...,...,...,...,...,...,...
10802,FR: My Famous Lover,FAMILY,4.0,185,28.000000,10000,Free,0.0,Teen
10814,FR: My Secret Pets!,FAMILY,4.0,785,31.000000,50000,Free,0.0,Teen
10817,HTC Sense Input - FR,TOOLS,4.0,885,8.000000,100000,Free,0.0,Everyone
10826,Frim: get new friends on local chat rooms,SOCIAL,4.0,88486,21.516165,5000000,Free,0.0,Mature 17+
10834,FR Calculator,FAMILY,4.0,7,2.600000,500,Free,0.0,Everyone

In [59]:
#5 display rows from the dataset where the rating is greater than 3

In [60]:
df[df["Rating"]>=3]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.000000,10000,Free,0.0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.000000,500000,Free,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.700000,5000000,Free,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.000000,50000000,Free,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.800000,100000,Free,0.0,Everyone
...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53.000000,5000,Free,0.0,Everyone
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.600000,100,Free,0.0,Everyone
10838,Parkinson Exercices FR,MEDICAL,4.1,3,9.500000,1000,Free,0.0,Everyone
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,21.516165,1000,Free,0.0,Mature 17+
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19.000000,10000000,Free,0.0,Everyone

In [61]:
#6display rows where the price is 0 and the rating is between 4.0 and 4.5

In [62]:
df["Price"].value_counts()

0.00     10039
0.99       148
2.99       129
1.99        73
4.99        72
         ...
19.90        1
1.75         1
14.00        1
4.85         1
1.04         1
Name: Price, Length: 92, dtype: int64

In [63]:
df[(df["Price"]==0)&(df["Rating"]>=4.0)&(df["Rating"]<=4.5)]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.000000,10000,Free,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.000000,50000000,Free,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.800000,100000,Free,0.0,Everyone
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.600000,50000,Free,0.0,Everyone
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29.000000,1000000,Free,0.0,Everyone
...,...,...,...,...,...,...,...,...,...
10835,FR Forms,BUSINESS,4.1,0,9.600000,10,Free,0.0,Everyone
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53.000000,5000,Free,0.0,Everyone
10838,Parkinson Exercices FR,MEDICAL,4.1,3,9.500000,1000,Free,0.0,Everyone
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,21.516165,1000,Free,0.0,Mature 17+
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19.000000,10000000,Free,0.0,Everyone

In [64]:
# Display all tha records with free types.

In [66]:
df[df["Type"]=="Free"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.000000,10000,Free,0.0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.000000,500000,Free,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.700000,5000000,Free,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.000000,50000000,Free,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.800000,100000,Free,0.0,Everyone
...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53.000000,5000,Free,0.0,Everyone
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.600000,100,Free,0.0,Everyone
10838,Parkinson Exercices FR,MEDICAL,4.1,3,9.500000,1000,Free,0.0,Everyone
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,21.516165,1000,Free,0.0,Mature 17+
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19.000000,10000000,Free,0.0,Everyone

In [67]:
#Display all the records lies within 4 to 5.

In [68]:
df[(df['Rating']>=4)&(df['Rating']<=5)]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.000000,10000,Free,0.0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.700000,5000000,Free,0.0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.000000,50000000,Free,0.0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.800000,100000,Free,0.0,Everyone
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.600000,50000,Free,0.0,Everyone
...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53.000000,5000,Free,0.0,Everyone
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.600000,100,Free,0.0,Everyone
10838,Parkinson Exercices FR,MEDICAL,4.1,3,9.500000,1000,Free,0.0,Everyone
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,21.516165,1000,Free,0.0,Mature 17+
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19.000000,10000000,Free,0.0,Everyone

In [69]:
#Display all the free records lies with rating 5.

In [70]:
df[(df['Type']=='Free')& (df['Rating']==5)]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
329,Hojiboy Tojiboyev Life Hacks,COMICS,5.0,15,37.0,1000,Free,0.0,Everyone
612,American Girls Mobile Numbers,DATING,5.0,5,4.4,1000,Free,0.0,Mature 17+
615,Awake Dating,DATING,5.0,2,70.0,100,Free,0.0,Mature 17+
633,Spine- The dating app,DATING,5.0,5,9.3,500,Free,0.0,Teen
636,Girls Live Talk - Free Text and Video Chat,DATING,5.0,6,5.0,100,Free,0.0,Mature 17+
...,...,...,...,...,...,...,...,...,...
10721,Mad Dash Fo' Cash,GAME,5.0,14,16.0,100,Free,0.0,Everyone
10742,GKPB FP Online Church,LIFESTYLE,5.0,32,7.9,1000,Free,0.0,Everyone
10776,Monster Ride Pro,GAME,5.0,1,24.0,10,Free,0.0,Everyone
10820,Fr. Daoud Lamei,FAMILY,5.0,22,8.6,1000,Free,0.0,Teen
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6,100,Free,0.0,Everyone